* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: aqua;
    width: 100%;
    height:80px;
    position: relative;
}
.nav{ 
    background-color:yellow;
    width: 98%;
    height:65px;
    position: absolute;
    top: 8px;
    left:15px;
}
#logo{
    background-color: blue;
    width: 5%;
    height: 70%;
    position: absolute;
    top: 13px;
    left:25px;
    margin-bottom: 20px;
    border-radius: 5px;
}
#nav_links{
    background-color: rgb(14, 14, 82);
    width: 45%;
    height: 60%;
    position: absolute;
    top: 15px;
    margin-left: 50%;
}